.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1;
}

.modal-body {
  position: relative;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  z-index: 2;
}

.modal-title {
  font-size: 2rem;
}

.modal-text {
  font-size: 1.4rem;
}

.modal-button {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #9be15d;
  color: #fff;
  margin-top: 10px;
}
