.summary {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  order: 2;
  grid-row: 5 / 6;
  padding: 0 0.3rem;
  margin: 2rem 0;
}

.summary__label {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 1.4rem;
  padding-right: 0.55rem;
  margin: 0;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  font-size: 1.1rem;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn--sort__loop:hover {
  animation: rotate 1s;
}

.btn--sort:hover {
  color: #f5465d;
}

@media screen and (min-width: 690px) {
  .summary__label {
    font-size: 1.2rem;
  }

  .summary__value {
    font-size: 2.2rem;
    margin-right: 2.5rem;
  }

  .btn--sort {
    margin-left: auto;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .btn--sort {
    margin-top: 0.5rem;
  }
}
